<table>
  <tr>
       <th *ngFor="let column of tableHeaders"> 
          {{column}}
      </th>
  </tr>

   <tr *ngFor="let row of countries; let i=index;"> 
       <td *ngFor="let column of tableHeaders" (click)="toggle($event,i)">  
            {{row[column]}} 
       </td>
  </tr>
</table> 

<br>    
<hr>
<br>

<div *ngIf="showData">
  
   <button type="button" class="buttonStyle" (click)="setForm($event)">Add State</button>

    <form [formGroup]="registerForm" *ngIf="showForm">
      <div class="form-row">
          <div class="form-group col-5">
            <label>State Name : </label> 
            <input type="text" formControlName="Name" class="form-control"/>
          </div>

          <div class="form-group col-5">
            <label>State Code : </label> 
            <input type="text" formControlName="Code" class="form-control"/>
          </div>

          <div class="form-group col-5">
            <label>Number of Cities : </label> 
            <input type="number" formControlName="Cities" class="form-control"/>
          </div>

          <div class="form-group col-5">
            <label>Capital : </label> 
            <input type="text" formControlName="Capital" class="form-control"/>
          </div>
          <br>
          <br>
          <div>
            <input type="submit" value="Submit" (click)="onSubmit()">
          </div>  
      </div>
    </form> 


    <table >
        <tr >
            <th *ngFor="let column of stateTableHeaders;index as i"> 
                {{column}}
            </th>
        </tr>

        <tr *ngFor="let row of countries[countryIndex].State"> 
            <td *ngFor="let column of stateTableHeaders">  
              {{row[column]}} 
            </td>
        </tr>
    </table>

    <br>
    <br>
    <br>

  </div>

<!-- ----------------------------------------------------------------------------------------------- -->

  <!-- <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button> -->

<!-- ----------------------------------------------------------------------------------------------- -->
