<h1>Pipes Examples</h1>



<!-- <div>{{ lowercaseExample | lowercase }}</div>                        //
                   OR                                                     //
<div>{{ "HELLO ANGULAR" | lowercase }}</div>                              //
<div>{{ "hello angular" | uppercase }}</div>                              //    In-Built 
<div>{{ "enzigma software pvt ltd" | titlecase }}</div>                   //     PIPES
<div>{{ dateExample | date }}</div>                                       //
<div>{{ jsonExample | json }}</div>                                       //
<div>{{ currencyExample | currency }}</div>                               //
<div>{{ percentExample | percent }}</div> -->                             
 



<!-- <div>{{ currencyExample | currency : 'INR'}}</div>                   //
<div>{{ dateExample | date : 'short'}}</div>                              //
                OR                                                        //
<div>{{ dateExample | date : 'long'}}</div>                               //    Parameterised
                OR                                                        //        PIPES
<div>{{ dateExample | date : 'mm-dd-yyyy'}}</div>                         //
               OR                                                         //
<div>{{ dateExample | date : 'MMM-dd-yyyy'}}</div>                        //
<div>{{ percentExample | percent : '3.2-2'}}</div> -->                    




<!-- <div>{{ dateExample | date | uppercase }}</div>                       //    Chaining PIPES
<div>{{ currencyExample | currency : 'CAD' | lowercase }}</div> -->       