<!-- <nav class "navbar navbar-dark bg-dark" style="margin-bottom: 150px;"></nav> --> 

 <div>
     <h1> Introduction To Angular </h1>
</div> 

<!-- <router-outlet></router-outlet>
<router-outlet name="childroute"></router-outlet>                         


<app-test-encapsulation></app-test-encapsulation> 
<app-parent></app-parent>    
<app-ngif-demo></app-ngif-demo>  -->
                                 

<!-- <app-pipes></app-pipes>
 
<app-data-binding></app-data-binding> -->

<app-ngfor-demo></app-ngfor-demo> 