<!-- <nav class "navbar navbar-dark bg-dark" style="margin-bottom: 150px;"></nav> --> 

 <div>
     <h1> Introduction To Angular </h1>
</div> 


<!-- <app-parent></app-parent> -->
<router-outlet></router-outlet>
  <app-table></app-table> 
<!-- 
<router-outlet name="childroute"></router-outlet>                         


<app-test-encapsulation></app-test-encapsulation> 
   
<app-ngif-demo></app-ngif-demo>  -->
                                 

<!-- <app-pipes></app-pipes>
 
<app-data-binding></app-data-binding> -->

<!-- <app-ngfor-demo></app-ngfor-demo>  -->